.lists-container .section-header {
  padding: 0 4px;
  border: none;
}
.lists-container .section-middle-container {
  border-bottom: solid var(--primary-border-color) 1px;
}
.lists-container .section-middle {
  padding: 0;
  margin: 0;
}
.lists-container .nav {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  font-weight: bold;
}
.lists-container .nav .a {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 15px 25px;
  border-radius: 0;
}
.lists-container .active-link {
  border-bottom: solid #1da1f2;
}
