/*----- Container CSS -----*/
.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  position: relative;
}

/*----- Header CSS -----*/
header {
  width: 27%;
  min-width: 88px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-grow: 1;
  font-size: 19px;
  font-weight: bold;
}
.header-container {
  width: 275px;
  height: 100%;
  padding: 0 14px 0 10px;
  position: fixed;
  overflow-y: auto;
}
.header-img {
  width: 1.64rem;
  height: 1.64rem;
}
header .avatar img {
  width: 1.64rem;
  height: 1.64rem;
}
/*- twitter-logo -*/
.twitter-logo .header-img {
  width: 1.9rem;
  height: 1.9rem;
}
.twitter-logo .a {
  padding: 8px;
  border-radius: 50%;
}
.twitter-logo .a:hover {
  background-color: var(--dark-theme-primary-bg);
}
.twitter-logo .a:hover svg,
.twitter-logo .a:focus svg {
  fill: var(--dark-theme-color);
}
/*- header-nav -*/
.header-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header-nav .a-container {
  width: 100%;
}
.header-nav .a {
  border-radius: 50px;
}
.header-nav .a-container:hover .a,
.header-nav .a-container:focus .a {
  color: var(--primary-color);
  background-color: var(--dark-theme-primary-bg);
}
.header-nav .a-container:hover svg,
.header-nav .a-container:focus svg {
  fill: var(--primary-color);
}
.header-nav .a span {
  margin: 0 10px 0 20px;
}
/*- header-btn -*/
header .btn-container {
  width: 90%;
}
.active-link {
  color: var(--primary-color) !important;
}
.active-link svg {
  fill: var(--primary-color);
}
/*----- Main CSS -----*/
main {
  width: 73%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
}
.main-container {
  width: 990px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.main-img {
  width: 1.4rem;
  height: 1.4rem;
}
main svg {
  fill: var(--primary-color);
}

/*----- Main-section CSS -----*/
section {
  width: 600px;
  min-height: 100vh;
  border-left: solid var(--primary-border-color) 1px;
  border-right: solid var(--primary-border-color) 1px;
}
/*- section-header -*/
.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 19px;
  font-weight: bold;
  border-bottom: solid var(--primary-border-color) 1px;
  background-color: var(--dark-theme-bg);
  position: sticky;
  top: 0;
}
.home-refresh {
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.section-header .a {
  margin: 8px 12px;
}
.section-header .subText {
  font-weight: 100;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.bookmarks-container .home-refresh,
.lists-container .home-refresh {
  height: 100%;
  padding: 5px 15px;
}

/*- section-middle -*/
.section-middle-container {
  border-bottom: solid rgba(255, 255, 255, 0.1) 10px;
}
.section-middle {
  padding: 0;
  margin: 0;
}
.section-middle .nav {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  font-weight: bold;
}
.section-middle .nav .a {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 15px 25px;
  border-radius: 0;
  color: rgba(255, 255, 255, 0.4);
}
.section-middle .active-link {
  border-bottom: solid #1da1f2;
}
/*----- Stream-container -----*/
.stream-container {
  width: 100%;
  height: 100%;
}

/*- Stream -*/
.stream {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
  border-bottom: solid var(--primary-border-color) 1px;
}
.stream:hover {
  cursor: pointer;
  background-color: #15181c;
}

/*- Context -*/
.context-container {
  margin-left: 58px;
  margin-bottom: 3px;
  font-size: 12px;
}
.context {
  margin-left: -24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.context svg {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  display: inline-block;
}

/*- Content -*/
.content {
  margin-left: 58px;
}

/*- Stream-header-container -*/
.stream-header-container {
  display: flex;
  height: 22px;
}
.main-avatar {
  float: left;
  position: absolute;
  margin-top: 3px;
  margin-left: -58px;
}
.main-avatar-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.fullname-container {
  margin-right: 5px;
}
.user-badge {
  width: 18px;
  height: 18px;
  display: inline-block;
}
.userame,
.time {
  font-weight: 100;
}
.userame {
  margin-left: 5px;
}
.dot {
  margin: 0 5px;
}
.fullname:hover,
.timestamp:hover {
  cursor: pointer;
  color: var(--primary-color);
  text-decoration: underline;
}

/*- Tweet-text-container -*/
.tweet-text-container {
  margin: 3px 0;
}
.hashtag {
  color: var(--primary-color);
}
.hashtag s {
  text-decoration: none;
}
.hashtag:hover span {
  text-decoration: underline;
}

/*- Stream-media-container -*/
.stream-media-container {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}
.media-img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

/*- stream-footer-container -*/
.stream-footer-container {
  max-width: 425px;
  margin-top: 10px;
}
.stream-footer-container svg {
  width: 18px;
  height: 18px;
  fill: var(--dark-theme-color);
}
.tweet-action {
  min-width: 80px;
  margin-right: 10px;
  display: inline-block;
}
.tweet-action .a {
  padding: 8px;
}
.tweet-action-btn {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.tweet-action-count {
  font-weight: bold;
  font-size: 12px;
}
.tweet-action-btn .icon-container {
  font-size: 16px;
}
.comments-btn:hover,
.comments-btn:hover svg {
  color: var(--primary-color);
  fill: var(--primary-color);
}
.comments-btn:hover .a {
  background-color: #162632;
}
.retweet-btn:hover,
.retweet-btn:hover svg {
  color: #21c16a;
  fill: #21c16a;
}
.retweet-btn:hover .a {
  background-color: #152923;
}
.likes-btn:hover,
.likes-btn:hover svg {
  color: #e0245e;
  fill: #e0245e;
}
.likes-btn:hover .a {
  background-color: #2a1a23;
}
/* section default */
.stream-container .default {
  margin: 40px 20px;
  text-align: center;
}
.stream-container .default p {
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.4);
}

/*----- Main-aside CSS -----*/
aside {
  width: 350px;
  height: 100%;
  margin-right: 10px;
  padding-top: 10px;
  font-size: 15px;
  font-weight: bold;
  position: sticky;
  top: 0;
}
.aside-container {
  width: 100%;
  position: sticky;
}
/*- Search-container CSS -*/
.search-container {
  width: 100%;
  height: 100%;
}
.search input {
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  display: block;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  color: var(--dark-theme-color);
  background-color: #202327;
}
.search input:focus {
  border: solid var(--primary-color) 1px;
}
aside .search-container {
  margin-bottom: 10px;
  padding-bottom: 5px;
}
aside .search input {
  padding: 12px;
}
/*- aside-div-container CSS -*/
.aside-div-container {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: rgba(61, 65, 69, 0.4);
}
.aside-div-container a:hover {
  background-color: rgba(61, 65, 69, 0.1);
}
.aside-div {
  width: 100%;
}
.aside-head,
.aside-body a {
  padding: 10px 15px;
  border-bottom: solid var(--primary-border-color) 1px;
}
.aside-head {
  font-size: 19px;
  font-weight: bolder;
}
.aside-body a {
  display: block;
}
.aside-foot {
  font-size: 16px;
  font-weight: normal;
}
.aside-foot a {
  padding: 15px 15px;
  display: block;
  color: var(--primary-color);
  border-radius: 0 0 15px 15px;
}
.trends-head {
  padding: 0 0 0 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trends-head .a-container {
  cursor: auto;
}
.trends-head .a {
  padding: 10px;
}
/*- footer CSS -*/
.footer {
  width: 100%;
  height: 100%;
  align-self: stretch;
  font-size: 13px;
  font-weight: normal;
}
.footer,
.footer a {
  color: rgba(255, 255, 255, 0.3);
}
.footer nav {
  padding: 10px 15px;
}
.footer nav a,
.footer nav div {
  margin: 5px 0;
  padding-right: 10px;
}
.footer div {
  display: inline-block;
}
.footer svg {
  width: 15px;
  height: 15px;
  fill: rgba(255, 255, 255, 0.3);
}
.footer nav a:hover {
  text-decoration: underline;
}

/*----- Responsive CSS -----*/
@media only screen and (max-width: 1300px) {
  header {
    width: 275px;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .header-container {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1280px) {
  header {
    width: auto;
    height: 100%;
    justify-content: flex-end;
  }
  main {
    width: 80%;
    height: 100%;
  }
  .header-container {
    width: 88px;
    height: 100%;
    margin: 0;
  }
  header .a span {
    display: none;
  }
  .btn-span-text {
    display: none;
  }
  .btn-span-icon {
    display: block;
  }
  header .btn {
    width: auto;
    padding: 14px 12px;
    border-radius: 50%;
  }
}
@media only screen and (max-width: 1125px) {
  aside {
    width: 290px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1055px) {
  header {
    width: calc(100% - 20%);
    flex-grow: 1;
  }
  main {
    width: 80%;
    flex-grow: 1;
  }
  section {
    width: 600px;
  }
  .tweet-stream-container {
    display: none;
  }
  aside {
    display: none;
  }
}
@media only screen and (max-width: 755px) {
  .main-container {
    width: 100%;
  }
}
